a {
    color: $blue;
    text-decoration: underline;
}
img {
  display: block;
  max-width: 100%;
}
h1.page-title,
.container {
  max-width: 960px !important;
}
.container p {
  line-height: 2em;
}
.node-type--noticia .field--name-body {
  padding: 2em;
}

// home-ultimas-noticias
.home-ultimas-noticias .views-view-responsive-grid__item {
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .12);
    justify-self: center;
    max-width: 300px;
}
.home-ultimas-noticias h3.card-title {
  font-size: $font-size-md;
  padding: 0.8em;
}
.home-ultimas-noticias img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.home-ultimas-noticias h3.card-title a {
  text-decoration: none;
}


@media (max-width: 575px) {
  h1.page-title {
    font-size: 35px;
  }
  .container p {
    line-height: 1.5em;
  }
  .node-type--noticia .field--name-body {
    padding: 1em;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  h1.page-title {
    font-size: 28px;
  }
  .container p {
    line-height: 1.8em;
  }
  .node-type--noticia .field--name-body {
    padding: 1.5em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h1.page-title {
    font-size: 28px;
  }
  .container p {
    line-height: 1.8em;
  }
  .node-type--noticia .field--name-body {
    padding: 1.5em;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  h1.page-title {
    font-size: 42px;
  }
  .container p {
    line-height: 2em;
  }
  .node-type--noticia .field--name-body {
    padding: 1em;
  }
}
