/* Content Styles
---------------------------------------- */

ul.topiclist {
	display: block;
	list-style-type: none;
	margin: 0;
}

ul.forums {
	background: transparent none repeat-x 0 0;
}

ul.topiclist li {
	display: block;
	list-style-type: none;
	margin: 0;
}

ul.topiclist dl {
	position: relative;
}

ul.topiclist li.row dl {
	padding: 12px 0;
}

ul.topiclist dt, ul.topiclist dd {
	display: block;
	float: left;
}

ul.topiclist dt {
	width: 100%;
	margin-right: -440px;
	font-size: 1.083em;
}

ul.topiclist.missing-column dt {
	margin-right: -345px;
}

ul.topiclist.two-long-columns dt {
	margin-right: -250px;
}

ul.topiclist.two-columns dt {
	margin-right: -80px;
}

ul.topiclist dt .list-inner {
	margin-right: 440px;
	padding-left: 12px;
	padding-right: 6px;
}

ul.topiclist.missing-column dt .list-inner {
	margin-right: 345px;
}

ul.topiclist.two-long-columns dt .list-inner {
	margin-right: 250px;
}

ul.topiclist.two-columns dt .list-inner {
	margin-right: 80px;
}

ul.topiclist dd {
	/*border-left: 1px solid transparent;*/
	padding: 4px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul.topiclist dfn {
	/* Labels for post/view counts */
	position: absolute;
	left: -999px;
	width: 990px;
}

ul.topiclist li.row dt a.subforum {
	background-image: none;
	background-position: 0 50%;
	background-repeat: no-repeat;
	position: relative;
	white-space: nowrap;
	padding: 0;
}

.forum-image {
	float: left;
	padding-top: 5px;
	margin-right: 5px;
}

li.row {
	/*border-top: 1px solid transparent;*/
	border-bottom: 1px solid transparent;
	border-left: solid 1px transparent;
	border-right: solid 1px transparent;
	box-sizing: border-box;
}

li.row strong {
	font-weight: normal;
}

li.header dt, li.header dd {
	line-height: 1em;
	border-left-width: 0;
	margin: 2px 0 4px 0;
	padding-top: 16px;
	padding-bottom: 2px;
	font-size: 1em;
	/*text-transform: uppercase;*/
}
.topiclist.two-long-columns li.header dt, .topiclist.two-long-columns li.header dd {
	margin-bottom: 14px;
}

li.header dt {
	/*font-weight: bold;*/
	width: 100%;
	margin-right: -440px;
	font-size: 1.167em;
	padding-left: 12px;
	padding-top: 14px;
	box-sizing: border-box;
}

li.header dt .list-inner {
	margin-right: 440px;
}

li.header dd {
	padding-left: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

li.header dl.row-item dt, li.header dl.row-item dd {
	min-height: 0;
}

li.header dl.row-item dt .list-inner {
	/* Tweak for headers alignment when folder icon used */
	padding-left: 0;
	padding-right: 50px;
}
ul.topiclist li.header dt .list-inner {
	padding-left: 0;
}

/* Forum list column styles */
dl.row-item {
	background-position: 0 12px;		/* Position of folder icon */
	background-repeat: no-repeat;
	min-height: 48px;
}

dl.row-item dt {
	background-repeat: no-repeat;
	background-position: 5px 20px;		/* Position of topic icon */
}

dl.row-item dt .list-inner {
	padding-left: 45px;					/* Space for folder icon */
}

dl.row-item dt, dl.row-item dd {
	min-height: 35px;
}

dl.row-item dt a {
	display: inline;
}

dl a.row-item-link {						/* topic row icon links */
	display: block;
	width: 30px;
	height: 30px;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -15px;
	margin-left: 9px;
}

dd.posts, dd.topics, dd.views, dd.extra, dd.mark {
	width: 80px;
	text-align: center;
	line-height: 2.2em;
	font-size: 1.2em;
}

dd.posts, dd.topics, dd.views {
	width: 95px;
}

/* List in forum description */
dl.row-item dt ol,
dl.row-item dt ul {
	list-style-position: inside;
	margin-left: 1em;
}

dl.row-item dt li {
	display: list-item;
	list-style-type: inherit;
}

dd.lastpost, dd.redirect, dd.moderation, dd.time, dd.info {
	width: 250px;
	font-size: 1.1em;
}

dd.redirect {
	line-height: 2.5em;
}

dd.time {
	line-height: 200%;
}

dd.lastpost > span, ul.topiclist dd.info > span, ul.topiclist dd.time > span, dd.redirect > span, dd.moderation > span {
	display: block;
	padding-left: 5px;
}

dd.extra, dd.mark {
	line-height: 200%;
}

dd.option {
	width: 125px;
	line-height: 200%;
	text-align: center;
	font-size: 1.1em;
}

/* UCP topic list */

#cp-main ul.topiclist li dt,
#cp-main ul.topiclist li dd {
	font-size: 1em;
}
#cp-main ul.topiclist li.header dt {
	padding-top: 16px;
}
#cp-main ul.topiclist li.header dl {
	min-height: 48px;
}

#cp-main fieldset.display-options {
	font-size: 1em;
	margin-top: 12px;
}
#report + #mcp_report fieldset.submit-buttons {
	margin-bottom: 12px;
}

/* Post body styles
----------------------------------------*/
.postbody {
	padding: 0;
	line-height: 1.48em;
	width: 100%;
	float: left;
	position: relative;
}

.postbody .ignore {
	font-size: 1.1em;
}

.postbody h3.first {
	/* The first post on the page uses this */
	/*font-size: 1.7em;*/
}

.postbody h3 {
	/* Postbody requires a different h3 format - so change it here */
	float: left;
	font-size: 1.3em;
	padding: 0;
	margin-top: 0.2em !important;
	text-transform: none;
	border: none;
}

.postbody h3 img {
	vertical-align: bottom;
}

.has-profile .postbody h3 {
	/* If there is a post-profile, we position the post-buttons differently */
	float: none !important;
	margin-right: 180px;
}

.postbody img.postimage {
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.search .postbody {
	width: 68%
}

/* Topic review panel
----------------------------------------*/
.panel .review {
	margin-top: 2em;
}

h3#review {
	font-size: 1.167em;
	font-weight: normal;
	letter-spacing: 0;
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 6px;
}

.topicreview {
	padding-right: 5px;
	overflow: auto;
	height: 300px;
}

.topicreview .postbody {
	width: auto;
	float: none;
	margin: 0;
	height: auto;
}

.topicreview .post {
	height: auto;
}

.topicreview h2 {
	border-bottom-width: 0;
}

.post-ignore .postbody {
	display: none;
}

/* MCP Post details
----------------------------------------*/
.post_details {
	/* This will only work in IE7+, plus the others */
	overflow: auto;
	max-height: 300px;
	padding-top: 12px !important;
	font-size: 1em;
}

/* Content container styles
----------------------------------------*/
.content h2, .panel h2 {
	font-weight: normal;
	border-bottom: 1px solid transparent;
	font-size: 1.538em;
	margin-top: 0;
	margin-bottom: 12px;
	padding-bottom: 12px;
	letter-spacing: -1px;
}

.panel h3 {
	margin: 0 0 12px;
	padding-bottom: 12px;
	font-size: 1.231em;
}

.register-info .content p > a.button2 {
	line-height: 32px;
	display: inline-block;
}

dl.faq {
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 24px;
	line-height: 1.6em;
}

dl.faq dt {
	font-weight: bold;
	margin-bottom: 12px;
}

.content dl.faq {
	margin-bottom: 12px;
}

.content li {
	list-style-type: inherit;
}

.content ul, .content ol {
	margin-bottom: 1em;
	margin-left: 3em;
}

.posthilit {
	padding: 0 2px 1px 2px;
}

/* Post author */
p.author {
	margin-bottom: 0.6em;
	padding: 0 0 5px 0;
  font-family: 'Oxygen', sans-serif;
	font-size: 1em;
	line-height: 1.2em;
	clear: both;
}

/* Post signature */
.signature {
	margin-top: 1.5em;
	padding-top: 0.2em;
	font-size: 1.1em;
	border-top: 1px solid transparent;
	clear: left;
	line-height: 140%;
	overflow: hidden;
	width: 100%;
}

.signature.standalone {
	border-top-width: 0;
	margin-top: 0;
}

dd .signature {
	margin: 0;
	padding: 0;
	clear: none;
	border: none;
}

.signature li {
	list-style-type: inherit;
}

.signature ul, .signature ol {
	margin-bottom: 1em;
	margin-left: 3em;
}

/* Post noticies */
.notice {
	width: auto;
	margin-top: 12px;
	padding-top: 12px;
	font-size: 1em;
	border-top: 1px solid transparent;
	clear: left;
	line-height: 130%;
}

/* Jump to post link for now */
ul.searchresults {
	list-style: none;
	text-align: right;
	clear: both;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background: transparent none 8px 16px no-repeat;
	border: 1px solid transparent;
	font-size: 1em;
	margin: 12px 0px 0 24px;
	overflow: hidden;
	padding: 12px 12px 12px 32px !important;
	min-height: 24px;
}

blockquote blockquote {
	/* Nested quotes */
	font-size: 1em;
	margin: 12px 0px 0 24px;
}

blockquote cite {
	/* Username/source of quoter */
	font-style: normal;
	font-weight: bold;
	margin-left: 20px;
	display: block;
	font-size: 0.9em;
}

blockquote cite cite {
	font-size: 1em;
}

blockquote.uncited {
	padding-top: 25px;
	margin-bottom: 12px;
}
blockquote > div > blockquote {
	margin-bottom: 0px !important;
}

/* Code block */
.codebox {
	padding: 12px;
	border: 1px solid transparent;
	font-size: 1em;
	margin-left: 24px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.codebox p {
	border-bottom: 1px solid transparent;
	margin-bottom: 12px;
	font-size: 1em !important;
	display: block;
	padding-bottom: 6px;
}

blockquote .codebox {
	margin-left: 0;
}

.codebox code {
	overflow: auto;
	display: block;
	height: auto;
	max-height: 200px;
	padding-top: 5px;
	line-height: 1.3em;
	margin: 2px 0;
}

/* Attachments
----------------------------------------*/
.attachbox {
	float: left;
	width: auto;
	max-width: 100%;
	margin: 12px 12px 12px 0;
	padding: 12px;
	clear: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 1.083em;
}

.attachbox dd {
	margin-top: 6px;
	padding-top: 6px;
	clear: left;
	border-top: 1px solid transparent;
	overflow-x: auto;
	margin-bottom: 12px;
}
.attachbox dd:last-child {
	margin-bottom: 0;
}

.attachbox dd dd {
	border: none;
}

.attachbox p {
	line-height: 110%;
	font-weight: normal;
	clear: left;
}

.attachbox p.stats
{
	line-height: 110%;
	font-weight: normal;
	clear: left;
}

.attach-image {
	margin: 3px 0;
	max-width: 100%;
}

.attach-image img {
	border: 1px solid transparent;
/*	cursor: move; */
	cursor: default;
}

/* Inline image thumbnails */
div.inline-attachment dl.thumbnail, div.inline-attachment dl.file {
	display: block;
	margin-bottom: 4px;
}

div.inline-attachment p {
	font-size: 100%;
}

dl.file {
	display: block;
}

dl.file dt {
	text-transform: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

dl.file dd {
	margin: 0;
	padding: 0;
}

dl.thumbnail img {
	padding: 3px;
	border: 1px solid transparent;
	box-sizing: border-box;
}

dl.thumbnail dd {
	font-style: italic;
}

.attachbox dl.thumbnail dd {
	font-size: 100%;
}

dl.thumbnail dt a:hover img {
	border: 1px solid transparent;
}

/* Post poll styles
----------------------------------------*/
fieldset.polls dl {
	margin-top: 5px;
	border-top: 1px solid transparent;
	padding: 5px 0 0 0;
	line-height: 120%;
}

fieldset.polls dl.voted {
	font-weight: bold;
}

fieldset.polls dt {
	text-align: left;
	float: left;
	display: block;
	width: 30%;
	border-right: none;
	padding: 0;
	margin: 0;
	font-size: 1em;
}

fieldset.polls dd {
	float: left;
	width: 10%;
	border-left: none;
	padding: 0 5px;
	margin-left: 0;
	font-size: 1em;
}

fieldset.polls dd.resultbar {
	width: 50%;
}

fieldset.polls dd input {
	margin: 2px 0;
}

fieldset.polls dd div {
	text-align: right;
	font-weight: bold;
	padding: 0 2px;
	overflow: visible;
	min-width: 8px;
}

.pollbar1, .pollbar2, .pollbar3, .pollbar4, .pollbar5 {
	border-bottom: 1px solid transparent;
	border-right: 1px solid transparent;
}

.vote-submitted {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

dd.profile-warnings {
	font-weight: bold;
}

dd.profile-contact {
	overflow: visible;
}

.profile-contact .dropdown-container {
	display: inline-block;
}

.profile-contact .icon_contact {
	vertical-align: middle;
}

.profile-contact .dropdown {
	margin-right: -14px;
}

.online {
	background-image: none;
	background-position: 100% 0;
	background-repeat: no-repeat;
}

/* Poster profile used by search*/
.search .postprofile {
	width: 30%;
}

/* Profile used on view-profile */
.profile-avatar img {
	max-width: 100%;
}

/* pm list in compose message if mass pm is enabled */
dl.pmlist dt {
	width: 60% !important;
}

dl.pmlist dt textarea {
	width: 95%;
}

dl.pmlist dd {
	margin-left: 61% !important;
	margin-bottom: 2px;
}

.action-bar div.dl_links {
	padding: 10px 0 0 10px;
}

div.dl_links {
	display: inline-block;
	text-transform: none;
}

.dl_links strong {
	font-weight: bold;
}

.dl_links ul {
	list-style-type: none;
	margin: 0;
	display: inline-block;
}

.dl_links li {
	display: inline-block;
}

.attachment-filename {
	width: 100%;
}

.ellipsis-text {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table.fixed-width-table {
	table-layout: fixed;
}

/* Show scrollbars for items with overflow on iOS devices
----------------------------------------*/
.postbody .content::-webkit-scrollbar, .topicreview::-webkit-scrollbar, .post_details::-webkit-scrollbar, .codebox code::-webkit-scrollbar, .attachbox dd::-webkit-scrollbar, .attach-image::-webkit-scrollbar, .dropdown-extended ul::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	-webkit-appearance: none;
	background: rgba(0, 0, 0, .1);
	border-radius: 3px;
}

.postbody .content::-webkit-scrollbar-thumb, .topicreview::-webkit-scrollbar-thumb, .post_details::-webkit-scrollbar-thumb, .codebox code::-webkit-scrollbar-thumb, .attachbox dd::-webkit-scrollbar-thumb, .attach-image::-webkit-scrollbar-thumb, .dropdown-extended ul::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .3);
	border-radius: 3px;
}

#memberlist tr.inactive, #team tr.inactive {
	font-style: italic;
}

.postbody .content,
.ucp-agreement .content {
  font: 16px/24px 'Merriweather', serif;  
}