		<div class="prefooter-blocks">
			<div id="container3">
				<div id="container2">
					<div id="container1">
						<div id="col1">

							<!-- Column one content beginning -->
							<h2>PREFOOTER_BLOCK_HEADER</h2>
							<p>PREFOOTER_BLOCK_CONTENT</p>
							<!-- Column one content end -->

						</div>
						<div id="col2">

							<!-- Social icons block beginning -->
							<div class="social-icons">
								<h2>Join us</h2>
								<ul>
									<li><a href="YOUR_SOCIAL_ACCOUN_LINK" target="_blank" class="SOCIAL_ACCOUNT_SHORTCODE"></a></li>
								</ul>
							</div>
							<!-- Social icons block end -->

						</div>
					</div>
				</div>
			</div>
		</div>